module.exports = {
  fastify: { active: true, port: 0 },
  redis: { active: true },
  mongodb: {
    active: true,
    databases: [
      {
        name: 'files',
        db: 'files',
        options: {}
      }
    ]
  }
}
